.mobMenu-lightbox {
  justify-content: flex-end !important;
}

.mobMenu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
  width: 274px;
  background-color: #ecd979;
  padding: 20px 20px 35px;
}

@media screen and (min-height: 500px) and (max-width: 768px) {
  .mobMenu-container {
    background-image: url(../img/mobile/Header/menu-elements-mob-1x.png);
    background-repeat: no-repeat;
    background-position: bottom 0 center;
    background-size: 274px 251px;
    padding: 20px 20px 251px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 144dpi),
  (min-resolution: 2dppx) {
    .mobMenu-container {
      background-image: url(../img/mobile/Header/menu-elements-mob-2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 216dpi),
  (min-resolution: 3dppx) {
    .mobMenu-container {
      background-image: url(../img/mobile/Header/menu-elements-mob-3x.png);
    }
  }
}

.mobMenu-button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  width: 36px;
  height: 36px;
  transition: transform 300ms ease-in-out;
}

.mobMenu-button-close:hover,
.mobMenu-button-close:active {
  transform: scale(0.9);
}

.mobMenu-icon-close {
  stroke: #1c2225;
}

.mobMenu-address {
  .tel-styles {
    border: 1px solid rgba(28, 34, 37, 0.1);
    color: #1c2225;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: border-color 300ms ease-in-out;
  }

  .tel-styles:hover,
  .tel-styles:active {
    border-color: rgba(28, 34, 37, 0.2);
  }
}

.mobMenu-nav-list {
  margin: auto 0;
}

.mobMenu-nav-list {
  .header-nav-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .header-nav-item {
    text-align: end;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link {
    display: block;
    color: #1c2225;
    transition: transform 100ms ease-in-out;
  }

  .header-nav-item:hover .nav-link,
  .header-nav-item:focus .nav-link {
    transform: translateX(-10px);
  }
}

@media screen and (min-width: 768px) {
  .mobMenu-container {
    width: 380px;
    padding: 20px 32px;
  }

  @media screen and (max-height: 560px) {
    .mobMenu-container {
      /* padding: 20px 32px; */
    }
  }

  @media screen and (min-height: 560px) and (max-height: 625px) {
    .mobMenu-container {
      padding: 20px 32px 250px;
      background-image: url(../img/tablet/Header/menu-elements-tab-1x.png);
      background-repeat: no-repeat;
      background-position: bottom -50% center;
      background-size: 380px 364px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
      .mobMenu-container {
        background-image: url(../img/tablet/Header/menu-elements-tab-2x.png);
      }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 216dpi),
    (min-resolution: 3dppx) {
      .mobMenu-container {
        background-image: url(../img/tablet/Header/menu-elements-tab-3x.png);
      }
    }
  }

  @media screen and (min-height:625px) {
    .mobMenu-container {
      padding: 20px 32px 364px;
      background-image: url(../img/tablet/Header/menu-elements-tab-1x.png);
      background-repeat: no-repeat;
      background-position: bottom 0 center;
      background-size: 380px 364px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
      .mobMenu-container {
        background-image: url(../img/tablet/Header/menu-elements-tab-2x.png);
      }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 216dpi),
    (min-resolution: 3dppx) {
      .mobMenu-container {
        background-image: url(../img/tablet/Header/menu-elements-tab-3x.png);
      }
    }
  }

  .mobMenu-button-close {
    width: 44px;
    height: 44px;
  }

  .mobMenu-icon-close {
    width: 22px;
    height: 22px;
  }
}